table{
    align-items: center;
    
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
a{
   background-color: rgb(204, 204, 204);
}
ul{
background-color: rgb(255, 191, 191);
}