
.nav{
    padding-inline: 5%;
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-family: 'Oswald', sans-serif;
}
.nav:hover{
    color: black;
    text-decoration: rgb(70, 65, 65);
    font-size: xx-large;
}
header{
    height: 100px;
    background-color: #595457;
}
main{

    background-color: #7E8987;
    
}
.profile{
    width: 50%;
    
}
.prof{
    width: 40%;
    margin: auto;
    padding-top: 4%;
    padding-left: 4%;

}
p{
    display: inline;
    margin: auto;
}
#welcome{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
}
#intro{
    font-family: 'Reggae One', cursive;
    font-size: 70px;
    color: #331832;
}
#about{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

a{
    padding-top: 20px;
}
#edu{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    color: #3E2F5B;
}
ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:40px ;
}
#small{
    font-size:30px; 
}
section{
    background-color: #E2A0FF;
}
